.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    width: 100%;
    background-color: var(--input-bg-color);
    border: 1px solid var(--task-outline-color);
    padding: 16px;
    border-radius: 4px;
}

.task p {
    font-size: 1.1rem;
    color: var(--txt-color);
    margin-right: auto;
}

p.textCompleted {
    color: var(--input-placeholder-txt-color);
    text-decoration: line-through;
}

.checkContainer {
    width: 18px;
    height: 18px;
    background: none;
    border: none;
    color: var(--check-color);
}

.checkContainer div {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid var( --task-header-txt-color);
}

.deleteButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    color: var(--input-placeholder-txt-color);
    font-size: 1.5rem;
}

.deleteButton:hover {
    color: rgb(150, 37, 22);
}