.header {
    background-color: var(--header-bg-color);
}

header {
    font-size: 3rem;
    font-weight: bold;
    padding: 20px;
    font-family: 'Alfa Slab One', cursive;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: var(--title-color);
}

.title1 {
    color: var(--title1-color);
}

.title2 {
    color: var(--title2-color);
}

.icons {
    display: flex;
    justify-content: center;
    color: #404040;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.lightdark {
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 1.5rem;
}

.newTaskForm {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 0 auto;
}

.newTaskForm form {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.newTaskForm input {
    height: 100%;
    width: 100%;
    color: var(--txt-color);
    background-color: var(--input-bg-color);
    border: 1px solid var(--header-bg-color);
    border-radius: 8px;
    padding: 10px 16px;
    font-size: 1.2rem;
}

.newTaskForm input::placeholder {
    color: var(--input-placeholder-txt-color);;
}

.newTaskForm button {
    font-family: var(--font-family);
    height: 100%;
    padding: 10px 16px;
    background-color: var(--button-bg-color);
    color: var(--button-txt-color);
    border: none;
    border-radius: 8px;
}
